<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Log</title>
</head>
<body>
    <h1>Access Log</h1>
    <form method="get" action="/">
        <label for="start_time">Start Time:</label>
        <input type="datetime-local" id="start_time" name="start_time">
        <label for="end_time">End Time:</label>
        <input type="datetime-local" id="end_time" name="end_time">
        <label for="flat">Flat:</label>
        <input type="text" id="flat" name="flat">
        <label for="sniffer_id">Sniffer ID:</label>
        <input type="text" id="sniffer_id" name="sniffer_id">
        <button type="submit">Filter</button>
    </form>
    <br>
	<table border="1">
        <tr>
            <th>Timestamp</th>
            <th>Sniffer ID</th>
            <th>Flat</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row['timestamp'] }}</td>
            <td>{{ row['sniffer_id'] }}</td>
            <td>{{ row['flat'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
